.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 24px;
  padding-bottom: 24px;
  padding-left: 64px;
  border-bottom: 1px solid #eee;
  background-color:  #f7f7f7;
}

.logo {
  font-size: 20px;
  font-weight: 700;
  text-decoration: none;
  color: #101828;
  margin-right: ;
}

.logoAccent {
  color: #475467;
}

.nav {
  display: flex;
  gap: 32px;
  margin-right: 652px;
}

.link {
  text-decoration: none;
  color: #101828;
  font-weight: 500;
}

.active {
  color:  #d84343;
}