.list {
  display: flex;
  flex-direction: column;
  gap: 44px;
}


.item {
  display: flex;
  flex-direction: column;
  gap: 16px;
}


.header {
  display: flex;
  align-items: center;
  gap: 16px;
}


.avatar {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: #f2f4f7;

  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 24px;
  font-weight: 600;
  color: #e44848;
}


.name {
  font-size: 16px;
  font-weight: 600;
  color: #101828;
  margin-bottom: 4px;
}

/* STARS */
.stars {
  display: flex;
  gap: 4px;
}


.comment {
  font-size: 16px;
  line-height: 1.5;
  color: #475467;
  max-width: 720px;
}


.empty {
  font-size: 16px;
  color: #475467;
}
