.sidebar {
  width: 360px;
  display: flex;
  flex-direction: column;
  gap: 32px;
}


.block {
  display: flex;
  flex-direction: column;
  gap: 12px;
}


.label {
  font-size: 16px;
  color: #6c717b;
}

.title {
  font-size: 20px;
  font-weight: 600;
  color: #101828;
}

.subtitle {
  font-size: 16px;
  font-weight: 600;
  color: #101828;
}


.input {
  height: 56px;
  padding: 0 18px;
  border-radius: 12px;
  border: none;
  background: #f7f7f7;
  font-size: 16px;
}


.options {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}

.option {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 12px 18px;
  border-radius: 100px;
  background: #f2f4f7;
  font-size: 14px;
  cursor: pointer;
}


.searchBtn {
  margin-top: 40px;
  height: 56px;
  width: 166px;
  border-radius: 200px;
  padding: 16px 60px;
  border: none;
  background: #e44848;
  color: #ffffff;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
}
.grid {
  display: flex;
  flex-wrap: wrap;
  column-gap: 8px;
  row-gap: 12px;
}



.card {
  flex: 0 0 calc((100% - 16px) / 3);
  

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 8px;

  padding: 16px 8px;
  border: 1px solid #dadde1;
  border-radius: 12px;
  background-color: #fff;
  padding: 16px 12px;
width: 112px;
height: 96px;

  cursor: pointer;
  position: relative;
}



.card input {
  position: absolute;
  opacity: 0;
  pointer-events: none;
}


.card:hover {
  border-color: #4e5970;
}

.card:has(input:checked) {
  border-color: #e44848;
}


.card span {
  text-align: center;
  font-size: 14px;
  line-height: 1.2;
  max-width: 100%;
}