.form {
  width: 531px;
  height: 588px;
  padding: 44px 57px;
  border-radius: 10px;
  border: 1px solid #dadde1;
  background-color: #ffffff;
}

.title {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 8px;
}

.subtitle {
  font-size: 14px;
  color: #6c717b;
  margin-bottom: 24px;
}

.field {
  width: 100%;
  padding: 14px 18px;
  margin-bottom: 14px;

  border-radius: 10px;
  border: none;
  background-color: #f7f7f7;

  font-size: 14px;
}

.field::placeholder {
  color: #6c717b;
}

.textarea {
  resize: none;
  height: 118px;
}

.form button {
  margin-top: 24px;
  padding: 16px;
  border-radius: 200px;
  background-color: #e44848;
  color: #fff;
  font-size: 16px;
  border: none;
  cursor: pointer;
  border-radius: 200px;
  padding: 16px 60px;
  width: 166px;
  height: 56px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 10px;
  transition: background-color 0.2s ease;
  margin: 24px auto 0;
}

.form button:hover {
  background: #d84343;

}
