.card {
  display: flex;
  gap: 32px;
  padding: 24px;
  border-radius: 20px;
  border: 1px solid #dadde1;
  background: #ffffff;
  width: 888px;
height: 368px

}

.image {
  border-radius: 10px;
  object-fit: cover;
  
 
}
.content {
  display: flex;
  flex-direction: column;
  flex: 1;
  height: 100%;
  overflow: hidden; 
}



.image {
  width: 292px;
  height: 320px;
  object-fit: cover;
  border-radius: 10px;
  flex-shrink: 0;
}



.header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.name {
  font-size: 24px;
  font-weight: 600;
  color: #101828;
  
  
  
}

.priceBlock {
  display: flex;
  align-items: center;
  gap: 12px;
}

.price {
  font-size: 24px;
  font-weight: 600;
}

.favoriteBtn {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
}


.meta {
  display: flex;
  gap: 16px;
  margin: 8px 0;
  color: #6c717b;
  font-size: 16px;
}

.rating {
  display: flex;
  align-items: center;
  gap: 4px;
}

.location {
  display: flex;
  align-items: center;
}


.description {
  
  color: #475467;
  line-height: 1.5;
  white-space: nowrap;      
  overflow: hidden;         
  text-overflow: ellipsis;
  margin-bottom: 24px;
}


.features {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  max-height: 104px; 
  overflow: hidden;
}

.feature {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 12px 18px;
  border-radius: 100px;
  background: #f2f4f7;
  font-size: 16px;
  color: #101828;
}


.link {
  display: inline-block;
  margin-top: 24px;
  padding: 16px 40px;
  border-radius: 200px;
  background: #e44848;
  color: #ffffff;
  font-weight: 500;
  font-size: 16px;
  text-decoration: none;
  cursor: pointer;
  width: 166px;
height: 56px;
}
