.wrapper {
  display: flex;
  gap: 64px;
  
}

.sidebar {
  width: 360px;
  flex-shrink: 0;
}

.content {
  flex: 1;
}

.title {
  font-size: 32px;
  font-weight: 600;
  margin-bottom: 32px;
}

.list {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.loadMore {
  margin: 40px auto 0;
  padding: 16px 32px;
  border-radius: 200px;
  border: 1px solid #dadde1;
  background: transparent;
  cursor: pointer;
  font-weight: 500;
  font-size: 16px;
  
}
.loadMoreWrapper {
  display: flex;
  justify-content: center;
  
}